h1,
p {
  font-family: Lato;
}

.disable-element {
  pointer-events: none;
  opacity: 0.5;
}
.drag-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid #aaaaaa;
  background: #aaaaaa;
  margin-left: -5.5px;
  margin-top: -5.5px;
  text-align: center;
  font-weight: bold;
  cursor: move;
}
.drag-circle-parent {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid #aaaaaa;
  text-align: center;
}
